# Project: ICD-AIS conversion using Deep Learning

This script opens the previously created SQL database of the NTDB and extracts data in a format to be used for training and testing a DL model.  The output format is:
- One patient per line
- ICD: Age first, then ECode, then procedure and diagnostic codes in ascending alphanumeric order
- AIS: Codes in ascending order, no post-dot severity
- Space in between codes

## Setup

In [41]:
import numpy as np
import pandas as pd
import sqlite3
import random
import math

In [43]:
# parameters
db_loc = "/data/galen-ics333/ivy-hip-apid/databases/NTDBDatabase/NTDB-2007-2017.db"
years = "(2013,2014)" # years to use
test_percent = 0.1 # percent of data for test
validation_num = 2000 # number of cases for validation
min_age = 18 # minimum age of patient
prefix_age = True # add 'A' designator to age
prefix_ecodes = True # add 'E' designator to E-codes
prefix_pcodes = True # add 'P' designator to P-codes
prefix_dcodes = True # add 'D' designator to D-codes
turncate_ais = True # remove severity designation of AIS codes
age_cat = True  # place ages in bins

## Function to sample tables

In [44]:
def get_table_rows(table, n_rows):
    
    # assemble query
    query = "SELECT * FROM " + table + " LIMIT " + str(n_rows) + ";"

    print(query)
    
    # execute query
    cur. execute(query)
    
    # get column names
    names = [description[0] for description in cur.description]

    # fetch results
    return pd.DataFrame(cur.fetchall(), columns=names)

## Connect to database

In [45]:
# connect to SQLite database
con = sqlite3.connect(db_loc)

# get cursor
cur = con.cursor()

## Extract data for cases of interest

In [46]:
%%time

# get patients meeting age and year parameters
cur. execute('''
SELECT Demo.INC_KEY, Demo.AGE, ED.YOADMIT, Ecodes.ECODE
FROM Demographics as Demo
LEFT JOIN (
    SELECT INC_KEY, YOADMIT
    FROM ED ) as ED
ON Demo.INC_KEY = ED.INC_KEY
LEFT JOIN (
    SELECT INC_KEY, ECODE
    FROM ICD9CM_ECodes) as Ecodes
ON Demo.INC_KEY = Ecodes.INC_KEY
WHERE Demo.AGE >=''' + str(min_age) + '''
AND ED.YOADMIT IN ''' + years
)

# fetch results
pt_dat = cur.fetchall()

CPU times: user 15.1 s, sys: 4.88 s, total: 20 s
Wall time: 29.8 s

In [47]:
# convert to pandas DF
pt_df = pd.DataFrame(pt_dat, columns=['INC_KEY','AGE','YOADMIT','ECODE'])

In [48]:
# filter out cases not coded in ICD-9
pt_df = pt_df[pt_df.ECODE!='-1']

In [49]:
# add 'A' prefix to age if necessary
if prefix_age:
    pt_df['AGE'] = 'A' + pt_df.AGE.astype(str)

In [50]:
# add 'E' prefix to ECODE if necessary
if prefix_ecodes:
    pt_df['ECODE'] = 'E' + pt_df.ECODE

In [51]:
pt_df.head(5)

    INC_KEY  AGE  YOADMIT   ECODE
0  14000000  A79     2013  E880.9
1  14000002  A55     2013  E884.9
2  14000003  A70     2013  E885.9
3  14000004  A56     2013  E881.0
4  14000005  A40     2013    E986

## Get procedure codes

In [52]:
pt_list = '(' + ','.join(str(i) for i in pt_df.INC_KEY) + ')'

In [53]:
%%time

# get pcodes for selected patients
cur. execute('''
SELECT INC_KEY, PCODE 
FROM ICD9_10CM_PCodes
WHERE INC_KEY IN ''' + pt_list
)

# fetch results
pcodes = pd.DataFrame(cur.fetchall(), columns=['INC_KEY','PCODE'])

CPU times: user 14.9 s, sys: 4.41 s, total: 19.3 s
Wall time: 20.3 s

In [54]:
# add 'P' to procedure codes if necessary
if prefix_pcodes:
    pcodes['PCODE'] = 'P' + pcodes.PCODE

In [55]:
%%time 
# transform PCODES into list for each patient
pcodes = pcodes.groupby('INC_KEY')['PCODE'].apply(list).reset_index(name='PCODES')

CPU times: user 1min 55s, sys: 223 ms, total: 1min 55s
Wall time: 1min 55s

In [56]:
# merge Pcodes in DF
pt_df = pt_df.merge(pcodes, on='INC_KEY')

In [57]:
pt_df.head(5)

    INC_KEY  AGE  YOADMIT   ECODE            PCODES
0  14000000  A79     2013  E880.9  [P87.03, P87.44]
1  14000002  A55     2013  E884.9             [P-2]
2  14000003  A70     2013  E885.9  [P79.35, P87.03]
3  14000004  A56     2013  E881.0  [P88.38, P88.01]
4  14000005  A40     2013    E986          [P54.11]

## Get diagnostic codes

In [58]:
# get dcodes for selected patients
cur. execute('''
SELECT INC_KEY, DCODE 
FROM ICD9CM_DCodes
WHERE INC_KEY IN ''' + pt_list
)

# fetch results
dcodes = pd.DataFrame(cur.fetchall(), columns=['INC_KEY','DCODE'])

In [59]:
# remove blank results, not sure why I am getting blank codes
dcodes = dcodes[~(dcodes.DCODE=='')]

In [60]:
# remove 'V' codes
dcodes = dcodes[~dcodes.DCODE.str.contains('V')]

In [61]:
# add 'D' to diagnostic codes if necessary
if prefix_dcodes:
    dcodes['DCODE'] = 'D' + dcodes.DCODE

In [62]:
%%time 
# transform DCODES into list for each patient
dcodes = dcodes.groupby('INC_KEY')['DCODE'].apply(list).reset_index(name='DCODES')

CPU times: user 1min 58s, sys: 129 ms, total: 1min 58s
Wall time: 1min 58s

In [63]:
# merge dcodes in DF
pt_df = pt_df.merge(dcodes, on='INC_KEY')

In [64]:
pt_df.head(5)

,INC_KEY,AGE,YOADMIT,ECODE,PCODES,DCODES
0,14000000,A79,2013,E880.9,"[P87.03, P87.44]",[D850.0]
1,14000002,A55,2013,E884.9,[P-2],"[D807.03, D805.4, D805.2]"
2,14000003,A70,2013,E885.9,"[P79.35, P87.03]",[D820.21]
3,14000004,A56,2013,E881.0,"[P88.38, P88.01]","[D825.20, D823.01, D805.4]"
4,14000005,A40,2013,E986,[P54.11],[D879.4]

## Get AIS codes

In [65]:
# get dcodes for selected patients
cur. execute('''
SELECT INC_KEY, AIS05CODE 
FROM AIS
WHERE INC_KEY IN ''' + pt_list
)

# fetch results
aiscodes = pd.DataFrame(cur.fetchall(), columns=['INC_KEY','AIS05CODE'])

In [66]:
# Remove none codes
aiscodes = aiscodes[~aiscodes.AIS05CODE.isnull()].reset_index(drop=True)

In [67]:
# remove severity designation if necessary
if turncate_ais:
    aiscodes['AIS05CODE'] = aiscodes.AIS05CODE.str.split(".", 1, expand=True)[0]

In [68]:
%%time 
# transform AIS codes into list for each patient
aiscodes = aiscodes.groupby('INC_KEY')['AIS05CODE'].apply(list).reset_index(name='AIS05CODE')

CPU times: user 1min 41s, sys: 0 ns, total: 1min 41s
Wall time: 1min 41s

In [69]:
# merge AIS codes in DF
pt_df = pt_df.merge(aiscodes, on='INC_KEY')

In [70]:
pt_df.head(5)

,INC_KEY,AGE,YOADMIT,ECODE,PCODES,DCODES,AIS05CODE
0,14000000,A79,2013,E880.9,"[P87.03, P87.44]",[D850.0],[161001]
1,14000002,A55,2013,E884.9,[P-2],"[D807.03, D805.4, D805.2]","[650416, 650630, 450203]"
2,14000003,A70,2013,E885.9,"[P79.35, P87.03]",[D820.21],[853151]
3,14000004,A56,2013,E881.0,"[P88.38, P88.01]","[D825.20, D823.01, D805.4]","[857200, 650616, 854441]"
4,14000005,A40,2013,E986,[P54.11],[D879.4],[516000]

## Bin ages

In [94]:
# if we want to categorize age
if age_cat:
    
    # cut points and labels
    age_bins = [0,10,20,30,40,50,60,70,80,90,110]
    age_labels = ['A00_09','A10_19','A20_29','A30_39','A40_49','A50_59','A60_69','A70_79','A80_89','A90_99']
    
    # get integer of age
    pt_df['IAGE'] = pt_df.AGE.str.replace('A','').astype(int)
    
    # get categories
    pt_df['AGEBIN'] = pd.cut(pt_df.IAGE, bins=age_bins, labels=age_labels)
    
    # replace age with categories
    pt_df['AGE'] = pt_df.AGEBIN
    
    # remove extra columns
    pt_df = pt_df.drop(columns=['IAGE','AGEBIN'])

## Function to write data to file

In [96]:
def write_pt_dat(pt_df, columns, output_file):
    '''
    The function takes a dataframe and output the values in all columns in as values separated with spaces.
    
    Arguments:
        pt_df - dataframe with patient data
        columns - columns with data to include
        output_file - name of output file
    Returns:
        None
    '''
    
    # select only columns of interest
    pt_df = pt_df[columns].copy()
    
    # loop through all columns
    for col in columns:
        
        #check if column contains list
        if isinstance(pt_df[col].reset_index(drop=True)[0], list):
            #print(col," is a list")
               
            pt_df[col] = pt_df[col].apply(lambda x: sorted(x))     
                
            # convert list to string
            pt_df[col] = pt_df[col].apply(lambda x: " ".join(x))

        else:
            #print(col," is not a list")
            
            # convert values to string
            pt_df[col] = pt_df[col].apply(lambda x: str(x))
            
    
    # merge columns
    pt_df = pt_df.apply(lambda x: " ".join(x), axis=1)
    
    pt_df.to_csv(output_file,index=False)
    
    #return pt_df

## Write out data files

In [97]:
ICD_cols = ['AGE','ECODE','PCODES','DCODES']
AIS_cols = ['AIS05CODE']

In [98]:
# calc number of test cases
num_test = round(len(pt_df)*test_percent)

In [33]:
# ICD files
write_pt_dat(pt_df[:num_test], ICD_cols, "../Data/test_icd_pre_I9_A05.csv")
write_pt_dat(pt_df[num_test:(num_test+validation_num)], ICD_cols, "../Data/val_icd_pre_I9_A05.csv")
write_pt_dat(pt_df[(num_test+validation_num):], ICD_cols, "../Data/train_icd_pre_I9_A05.csv")

write_pt_dat(pt_df[:num_test], AIS_cols, "../Data/test_ais_pre_I9_A05.csv")
write_pt_dat(pt_df[num_test:(num_test+validation_num)], AIS_cols, "../Data/val_ais_pre_I9_A05.csv")
write_pt_dat(pt_df[(num_test+validation_num):], AIS_cols, "../Data/train_ais_pre_I9_A05.csv")

In [99]:
# ICD files if categorizing age
write_pt_dat(pt_df[:num_test], ICD_cols, "../Data/test_icd_agecat_I9_A05.csv")
write_pt_dat(pt_df[num_test:(num_test+validation_num)], ICD_cols, "../Data/val_icd_agecat_I9_A05.csv")
write_pt_dat(pt_df[(num_test+validation_num):], ICD_cols, "../Data/train_icd_agecat_I9_A05.csv")

write_pt_dat(pt_df[:num_test], AIS_cols, "../Data/test_ais_agecat_I9_A05.csv")
write_pt_dat(pt_df[num_test:(num_test+validation_num)], AIS_cols, "../Data/val_ais_agecat_I9_A05.csv")
write_pt_dat(pt_df[(num_test+validation_num):], AIS_cols, "../Data/train_ais_agecat_I9_A05.csv")

In [34]:
%%time
temp = pt_df.copy()

cols = ['AGE','ECODE','PCODES','DCODES','AIS05CODE']

temp = write_pt_dat(temp, cols, 'test')

CPU times: user 31.5 s, sys: 236 ms, total: 31.7 s
Wall time: 31.7 s

In [100]:
pt_df.head(5)

,INC_KEY,AGE,YOADMIT,ECODE,PCODES,DCODES,AIS05CODE
0,14000000,A70_79,2013,E880.9,"[P87.03, P87.44]",[D850.0],[161001]
1,14000002,A50_59,2013,E884.9,[P-2],"[D807.03, D805.4, D805.2]","[650416, 650630, 450203]"
2,14000003,A60_69,2013,E885.9,"[P79.35, P87.03]",[D820.21],[853151]
3,14000004,A50_59,2013,E881.0,"[P88.38, P88.01]","[D825.20, D823.01, D805.4]","[857200, 650616, 854441]"
4,14000005,A30_39,2013,E986,[P54.11],[D879.4],[516000]